{% extends 'blogapp/base.html' %}
{% block title %}
    {{ post.title_tag }}
{% endblock %}
{% block content %}
    Current user: {{ user.id }}
    Post author: {{ post.author.id }}

    <h2>{{ post.title|capfirst }}</h2>
    <small>By: {{ post.author.first_name }} {{ post.author.last_name }}

        {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
                <small>
                    <a href="{% url 'update-article' post.id %}">
                        Edit
                    </a> or
                    <a href="{% url 'delete-post' post.id %}">
                        Delete
                    </a>
                </small>
                <br/>
                On: {{ post.post_date }}
                </small>
                <hr>
                <p>{{ post.body|safe }}</p>
                <a href="{% url 'home' %}" class="btn btn-secondary">Go back</a>
                <br/>
                <br/>
                <hr>
                <form action="{% url 'like_post' post.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" name="post_id" value="{{ post.id }}"
                        class="btn btn-primary">Like</button>
                - {{ total_likes }}

                </form>
            {% else %}
                <P>You are not allowed to see posts, please, login!</P>
            {% endif %}
        {% endif %}
{% endblock %}