{% extends 'blogapp/base.html' %}
{% load static %}
{% block title %}
    {{ post.title_tag }}
{% endblock %}
{% block content %}
    Current user: {{ user.id }}
    Post author: {{ post.author.id }}

    <h2>{{ post.title|capfirst }}</h2>
    <small>By: {{ post.author.first_name }} {{ post.author.last_name }}

        {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
                <small>
                    <a href="{% url 'update-article' post.id %}">
                        Edit
                    </a> or
                    <a href="{% url 'delete-post' post.id %}">
                        Delete
                    </a>
                </small>
                <br/>
                On: {{ post.post_date }}
                </small>
                <hr>
                {% if post.header_image %}
                    <img src="{{ post.header_image.url }}"><br/>
                {% endif %}

                {% if post.body %}
                    <p>{{ post.body|safe }}</p>
                {% endif %}

                <a href="{% url 'home' %}" class="btn btn-secondary">Go back</a>
                <br/>
                <br/>
                <hr>
                <form action="{% url 'like_post' post.id %}" method="POST">
                    {% csrf_token %}
                    {% if user.is_authenticated %}
                        {% if not liked %}
                            <button type="submit" name="post_id" value="{{ post.id }}"
                                    class="btn btn-primary">Like
                            </button>
                        {% else %}
                            <button type="submit" name="post_id" value="{{ post.id }}"
                                    class="btn btn-danger">Unlike
                            </button>
                        {% endif %}
                    {% else %}
                        <small>Please, login to like the post!</small>
                    {% endif %}

                    Total likes: {{ total_likes }}

                </form>
                <br/>
                <br/>

                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-2">
                            {% if post.author.profile.profile_pic %}

                                <img src="{{ post.author.profile.profile_pic.url }}"
                                     class="img-fluid"
                                     style="width: 400px; height: 400px">
                            {% else %}
                                <img src="{% static 'images/default.png' %}"
                                class="img-fluid"
                                     style="width: 400px; height: 400px"><br/>

                            {% endif %}
                        </div>
                        <div class="col-md-10">
                            <div class="card-body">
                                <h5 class="card-title">{{ post.author.first_name }} {{ post.author.last_name }}</h5>
                                <p class="small text-muted">
                                    <a href="{% url 'profile' post.author.profile.id %}">
                                        Profile page
                                    </a>
                                    {% if post.author.profile.website_url %}
                                        <a href=" {{ post.author.profile.website_url }} " target="_blank">
                                            |Website</a>
                                    {% endif %}
                                    {% if post.author.profile.facebook_url %}
                                        |<a href=" {{ post.author.profile.facebook_url }} " target="_blank">
                                        Facebook</a>
                                    {% endif %}
                                    {% if post.author.profile.instagram_url %}
                                        |<a href=" {{ post.author.profile.instagram_url }} " target="_blank">
                                        Instagram</a>
                                    {% endif %}
                                    {% if post.author.profile.pinterest_url %}
                                        |<a href=" {{ post.author.profile.pinterest_url }} " target="_blank">
                                        Pinterest</a>
                                    {% endif %}

                                </p>
                                <p class="card-text">{{ post.author.profile.bio }}</p>
                                <p class="card-text"><small class="text-muted">{{ post.post_date }}</small></p>
                            </div>
                        </div>
                    </div>
                </div>

            {% else %}
                You are not allowed to see posts, please, login!
                <a href="{% url 'login' %}">Login</a>
            {% endif %}
        {% endif %}
{% endblock %}