{% extends 'blogapp/base.html' %}
{% block title %}
    Edit post
{% endblock %}
{% block content %}
{% if user.is_authenticated %}
    <h1 class="form-group d-flex justify-content-center align-items-center container">
        Update Post . . . !</h1>
    <div class="form-group d-flex justify-content-center align-items-center container">
        <form method="POST" action=".">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-success col-md-12 text-center submit-btn">Update</button>
        </form>
    </div>
    {% else %}
    <p>You are not allowed to update posts, please login.!</p>
    {% endif %}
{% endblock %}