{% extends 'blogapp/base.html' %}
{% block title %}
    Change Password
{% endblock %}
{% block content %}

    <h1 class="form-group d-flex justify-content-center align-items-center container">Change Password</h1>
    <div class="form-group d-flex justify-content-center align-items-center container">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success col-md-12 text-center submit-btn">
                Change Password
            </button>
            <ul>
                <li>
                Your password can’t be too similar to your other personal information.</li>
                <li>Your password must contain at least 8 characters.</li>
                <li>Your password can’t be a commonly used password.</li>
                <li>Your password can’t be entirely numeric.</li>
            </ul>
        </form>
    </div>
{% endblock %}