{% extends 'blogapp/base.html' %}
{% block title %}
    Edit Settings
{% endblock %}
{% block content %}
    <h5 class="card-title"></h5>
    <br/>
    {{ user.profile.bio }}
    <h1 class="form-group d-flex justify-content-center align-items-center container">Edit Settings!==></h1>
    <div class="form-group d-flex justify-content-center align-items-center container">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success col-md-12 text-center submit-btn">
                Edit profile
            </button>

        </form>
    </div>
{% endblock %}